<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- Here /servers  /users are from  app.module.ts >>  appRoutes -->
<!--         But with the below aaproach (href attribute) Everytime we click on different page, the app will get reloaded -->
<!--        <li role="presentation" class="active"><a href="/">Home</a></li>-->
<!--        <li role="presentation"><a href="/servers">Servers</a></li>-->
<!--        <li role="presentation"><a href="/users">Users</a></li>-->
         <!--   Instead of href Link we use router link to navigate to differenrt page without loading     -->
            <li
              role="presentation"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/" >Home</a>
            </li>
            <li
              role="presentation"
              routerLinkActive="active">
              <a routerLink="/servers" >Servers</a>
              </li>
            <li
              role="presentation"
              routerLinkActive="active">
              <a [routerLink]="['/users']" >Users</a>
            </li>
        <!--Here we are using property binding -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet> </router-outlet>
  </div>
</div>
